{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-assign",
		// "transform-es3-property-literals",
		"transform-es3-member-expression-literals"
  ]
}